.ui {
    z-index: 1000;

}

.display {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1.5em;
    text-align: center;
    line-height: 2em;
}

.progress {
    position: fixed;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid;
    padding: 1em;
    color: #fff;
    font-size: 1.5em;
    text-align: center;
    line-height: 2em;
}

.completed {
    position: fixed;
    top: 0;
    width: 100%;
    background: white;
    text-align: center;
    font-weight: bold;
    display: grid;
    justify-items: center;
    grid-auto-flow: column;
    align-items: center;
    justify-content: center;
}

.completed-btn {
    font-size: 2em;
    color: #034892;
    display: grid;
    justify-items: center;
    grid-auto-flow: column;
    align-items: center;
    justify-content: center;
    grid-gap: 0.5em;
    border: 1px solid #034892;
    border-radius: 3px;
    padding: 0 10px;
    margin: 5px;
    cursor: pointer;
    background: transparent;
    transition: background-color 250ms linear;
    transition: border-color 250ms linear;
    transition: color 250ms linear;
}

.completed-btn:hover {
    background: #034892;
    color: white;
    border-color: #034892;
}

.controls {
    position: absolute;
    bottom: 0;
    right: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    color:white;
    padding: 1em;
    grid-gap: 0.5em;
}

.key {
    border: 1px solid white;
    border-radius: 5px;
    padding: 0.25rem 0.5rem;
    text-align: center;
}

.key.active {
    color: black;
    border-color: black;
    background: white;

}


