.intro {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    color: white;
    padding: 2em;
    overflow-y: auto;
}

.content-form {
    padding: 1em;
    display: grid;
    align-content: center;
    justify-content: center;
    grid-gap: 2em;
    height: 100%;
}


.content {
    font-size: 1.5em;
}

.submitBtn {
    justify-self: start;
}

.startBtn {
    justify-self: center; 

}

.opt-out {
    font-size: 2em;
    padding: 1em;
    font-weight: 700;
}

.incorrect-device {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    justify-content: center;
    align-content: center;
    background: black;
    font-size: 1.5em;
    color: white;
    padding: 1em;
  }

.screen {
    display:none;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    justify-content: center;
    align-content: center;
    background: black;
    font-size: 1.5em;
    color: white;
  }

@media screen and (max-width: 900px) {
    .intro {
      display:none !important;
    }
    .screen {
      display:grid !important;
      
    }
  }
  
  @media screen and (max-height: 450px) {
    .intro {
      display:none !important;
    }
    .screen {
      display:grid !important;
      
    }
  }